<div id="content" xmlns="http://www.w3.org/1999/html">
  <div  id="body">
    <div id="picture">
      <img  id="cover" src="{{img}}" alt="">
    </div>
    <div id="description">
      <h3>{{trackTitle}}</h3>

      <div id="textToSong">


      </div>


      RreSave:<b> <a href="https://distrokid.com/hyperfollow/heartbreakerzz/halb-acht" id="preSaveLink"> click</a></b>

      <app-music-player [url]="''" ></app-music-player>
<!--      <iframe class="songs"  style="border-radius:12px" src="https://open.spotify.com/embed/track/68SajiYeD8sMDAZeOcd1I6?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>-->

    </div>







  </div>





</div>
