<div id="body">
  <div id="content">
  <div style="display: inline">
    <img id="logo" src="assets/logo_2.png"> <h1 id="headline">Heartbreakerzz</h1>
    <a id="subtitle">@204-Recordz</a>
  </div>

    <div id="text">
     Socialmedia:
     <a href="https://www.instagram.com/dj_heartbreakerz.offical/"  target="_blank" rel="noopener"> <img class="Logo" src="assets/instaLogo.png"> </a>
     <a href="https://open.spotify.com/artist/5dYFVjAd2WeUByLoqrjM5V?si=yNWfm2e-THO744O2NRWmnw"  target="_blank" rel="noopener" ><img class="Logo" src="assets/spotifyLogo.png"> </a>
    </div>
    <div id="text2">
      Impressum:

    </div>



  </div>



</div>
