<div>
  <div id="body">
    <h1 >In Work, {{SiteName}}-Page coming soon </h1>
    <div class="text">
      <div class="hover">We</div> are updating our <div class="hover">website,</div> this page is currently <div class="hover">unavailable.</div> We'll be back for you <div class="hover">soon!!</div> <br>
      Just send us a <div class="hover">Message on Instagram</div>, we always reply <3
      <br>
      <br>
      Your <div class="hover">Heartbreakerzz!!!</div>
    </div>
    <img src="assets/faces.png" id='pic'>
    <div class="text">
      Stay Updated: <br>
      <a href="https://www.instagram.com/dj_heartbreakerz.offical/"  target="_blank" rel="noopener"> <img class="Logo" src="assets/instaLogo.png"> </a>
      <a href="https://open.spotify.com/artist/5dYFVjAd2WeUByLoqrjM5V?si=yNWfm2e-THO744O2NRWmnw"  target="_blank" rel="noopener" ><img class="Logo" src="assets/spotifyLogo.png"> </a>
      <a href="https://heartbreakerz.de"  target="_blank" rel="noopener"><img  class="Logo" src="assets/WebIcon.png"></a>
    </div>


  </div>




</div>
