

<div id="content">
  <section  id="pictureSection">
    <img id="prod" src="assets/Shop/{{products[selected]}}" alt="">


  </section>
  <section id="sectionLeft">
    <b id="title">{{title}}</b>
    <div id="text">
      The new Sticker Collection with all new Sticker.
      This sticker are designed to hang on every Surface

    </div>
    <div id="price">


      {{price}} €
      <button id="button">Sold-out</button>
    </div>


  </section>
  <section id="selectButtons;">



  </section>





</div>
