#body{

  position: relative;
  font-size: 25px;
  font-family: 'Courier New' ;
  left: 10%;
  top: 30px;
  width: 60vw;
  padding-bottom: 60px;
  /*background-color: red;*/
}
#pic{
  /*width: 1200px;*/
  height: 800px;
  width: 100%;
  position: relative;

}

.text{
  margin-bottom: 50px;
  margin-top: 70px;
}

.hover{
  color: #d25c24;

  display: inline;
}

.hover:hover{
  color: black;
  border-bottom: solid black 3px;
  cursor: pointer;
  background-color: indianred;


}
/*All LOGOS*/
.Logo{
  border: transparent 2px solid;
  border-radius: 10px;
  padding:5px;
  margin-top: 20px;
  margin-right: 20px;
  display: inline-block;
  width: 130px;

}
.Logo:hover{
  background-color: #b2b0b0;
  cursor: pointer;


}
