



  <div id="computerView" *ngIf="!isPhoneSize">

    <app-top-bar class="topBar" (selectedPageEvent)="selectSite($event)" ></app-top-bar>
    <div id="content">
      <div id="body">
        <app-work-content  *ngIf="selectedSite ==0" [SiteName]="'HOME'" ></app-work-content>
        <app-work-content  *ngIf="selectedSite ==1" [SiteName]="'SHOP'" ></app-work-content>
        <!--      <app-home-content *ngIf="selectedSite ==0"></app-home-content>-->
        <!--      <app-shop-content *ngIf="selectedSite ==1"></app-shop-content>-->
        <app-releases-content *ngIf="selectedSite ==2"></app-releases-content>
      </div>
    </div>
    <app-buttom-section></app-buttom-section>
  </div>



  <div id="phoneSize" *ngIf="isPhoneSize">
    <img src="../assets/backgroundVid.gif" loop=infinite id="vidHandy" />
    <app-top-bar-handy class="topBar" (selectedPageEvent)="selectSite($event)"></app-top-bar-handy>
    <div id="contentHandy">
      <div id="body-Handy">




        <app-work-content-handy *ngIf="selectedSite == 0" [SiteName]="'HOME'"></app-work-content-handy>
        <app-shop-content-handy *ngIf="selectedSite == 1" ></app-shop-content-handy>
        <app-release-page-handy *ngIf="selectedSite == 2" ></app-release-page-handy>
      </div>

      <app-handy-button-section id="bottom-handy"></app-handy-button-section>
    </div>

  </div>


