<div id="content">
  <div id="body" >
    <div id="headline">
      <b><h1>Shop</h1></b>
    </div>

    <app-product  [productDescription]="content.STICKER_PACK_DESCRIPTION"  [price]="'1.00'"  [title]="'Sticker Pack'" [products]="['Sticker/img_3.png','Sticker/img_1.png','Sticker/img_2.png']" ></app-product>
    <app-product  [productDescription]="content.HOODIE_1_DESCRIPTION"  [price]="'20.00'" [title]="'Heart-Hoodie'"  [products]="['Hoodie/Hoodie_01.png']" ></app-product>
    <app-product  [productDescription]="content.HOODIE_2_DESCRIPTION" [price]="'20.00'" [title]="'Rose-Hoodie'" [products]="['Hoodie/Hoodie_02.png']" ></app-product>
    <app-product  price="15.00" [productDescription]="content.PILLOW_DESCRIPTION" [title]="'Kissen'" [products]="['Kissen/Kissen_Design.png', 'Kissen/Kissen_Menschen.png']"></app-product>


  </div>








</div>
