
#body{
  font-size: 25px;
  font-family: 'Courier New' ;
  padding-bottom: 800px;
}


#headline{
  position: relative;
  left: 10%;
  top: 20px;
}
#text{
  position: relative;
  left: 10%;
}



#releaseList{
  position: relative;
  top: 20vh;
  left: 10%;
}
