<div id="body">


  <div id="name">
    <img id="logo" src="assets/logo_2.png"> <h3 id="headline">Heartbreakerzz</h3>
    <a id="subtitle">@204-Recordz</a>
  </div>
  <div id="socialMedia">
    <a id="tack">Social-media:</a>
    <a href="https://www.instagram.com/dj_heartbreakerz.offical/"  target="_blank" rel="noopener"> <img class="Logo" src="assets/instaLogo.png"> </a>
    <a href="https://open.spotify.com/artist/5dYFVjAd2WeUByLoqrjM5V?si=yNWfm2e-THO744O2NRWmnw"  target="_blank" rel="noopener" ><img class="Logo" src="assets/spotifyLogo.png"> </a>

  </div>
  <div id="impress">

      <a id="headlineText">Impress:</a>
      <div id="text">
        Heartbreakerz<br>
        Ferdinand Strobel <br>
        Seeweg 43 <br>
        97204 Hoechberg <br>
      </div>



  </div>
</div>
